*{
    padding: 0;
    margin: 0;
}

nav{
    background-color: rgba(0, 0, 0, 0.29);
}

nav a{
  color: white;
  font-family: cursive;
}

.nav-link{
    color: white;
}
#hero{
    background-image: url("https://images.pexels.com/photos/33768844/pexels-photo-33768844.jpeg");
    background-position: center;
    background-size: cover;
    height:100vh;
}

#hero div{
    background-color: rgba(0, 0, 0, 0.39);
    padding: 1rem;
    border-radius: 0.5rem;
    font-family:cursive;
}

#hero h1{
    font-size:7rem;
}

#about h1{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: cursive;
    background-color: rgba(0, 0, 0, 0.427);
}

#service h1{
    text-align: center;
    font-family: cursive;
    margin-bottom: 4rem;
    background-color: rgba(0, 0, 0, 0.427);
}

#contact img{
    margin-bottom: 2rem;
    margin-top: 3rem;
}

@media screen and (max-width:428px) {
    #hero h1{
        font-size: 2rem;
    }

    #hero h3{
        font-size: 1rem;
    }
}



                   
